<!-- Form Name -->
<legend>CG2028</legend>

<div class="col-md-12">
  <div class="form-group col-md-8 col-md-offset-2">
    <label for="CG2028_ADDTL_INSURED">NAME OF ADDITIONAL INSURED PERSON(S) OR ORGANIZATION(S)</label>
    <textarea id="CG2028_ADDTL_INSURED" name="CG2028_ADDTL_INSURED" rows="5" class="form-control input-md">
    </textarea>
  </div>
</div>
