<div class="tab-pane fade" id="tabe">
  <!-- Form Name -->
  <legend>CG2011</legend>

  <div class="col-md-6">
    <div class="row">


      <!--<div class="form-group col-md-12">
        <label for="CG2011_LOCATION">LOCATION</label>
        <select id="CG2011_LOCATION" name="CG2011_LOCATION" class="form-control">
          <option value="1">LOCATION 1</option>
          <option value="2">LOCATION 2</option>
          <option value="3">LOCATION 3</option>
          <option value="4">LOCATION 4</option>
        </select>
      </div>-->

      <div class="form-group col-md-12">
        <label for="CG2011_ADDTL_INSURED">ADDTL INSURED</label>
        <input id="CG2011_ADDTL_INSURED" name="CG2011_ADDTL_INSURED" type="text" placeholder="COINSURANCE" class="form-control input-md" requiredd>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="form-group col-md-12">
        <label for="CG2011_PREMISES">PREMISES</label>
        <input id="CG2011_PREMISES" name="CG2011_PREMISES" placeholder="" class="form-control input-md" requiredd>
      </div>

      <!--<div class="form-group col-md-12">
        <label for="CG2011_BUILDING">BUILDING</label>
        <select id="CG2011_BUILDING" name="CG2011_BUILDING" class="form-control">
          <option value="1">BUILDING 1</option>
          <option value="2">BUILDING 2</option>
          <option value="3">BUILDING 3</option>
          <option value="4">BUILDING 4</option>
        </select>
      </div>-->

      <div class="form-group col-md-12">
        <label for="CP1440_ADDTL_PREMIUM">ADDTL PREMIUM</label>
        <div class="input-group">
          <input id="CP1440_ADDTL_PREMIUM" name="CP1440_ADDTL_PREMIUM" class="form-control" placeholder="PREMIUM" type="text">
        </div>
        <!--<div class="input-group-btn"> <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> CLUSION <span class="caret"></span> </button> <ul class="dropdown-menu pull-right"> <li><a href="#">INCLUDED</a></li> <li><a href="#">EXCLUDED</a></li> </ul> </div>-->
      </div>
    </div>
  </div>
</div>
