<div class="tab-pane fade" id="tabi">
  <!-- Form Name -->
  <legend>CG2144</legend>

  <div class="col-md-12">
    <div class="row">
      <!-- Policy Number -->
      <div class="form-group col-md-12">
        <label for="POLICYNUMBER">POLICY NUMBER</label>
        <div class="input-group">
          <span class="input-group-addon">PPK000</span>
          <input type="text" class="form-control" name="POLICYNUMBER" id="POLICYNUMBER" placeholder="Policy Number" requiredd>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <!--<div class="form-group col-md-12">
        <label for="CG2144_LOCATION">LOCATION</label>
        <select id="CG2144_LOCATION" name="CG2144_LOCATION" class="form-control">
          <option value="1">LOCATION 1</option>
          <option value="2">LOCATION 2</option>
          <option value="3">LOCATION 3</option>
          <option value="4">LOCATION 4</option>
        </select>
      </div>-->
      <div class="form-group col-md-12">
        <label for="CG2144_PROJECT">PROJECT</label>
        <input id="CG2144_PROJECT" name="CG2144_PROJECT" type="text" placeholder="OF SIGN" class="form-control input-md">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <!--<div class="form-group col-md-12">
        <label for="CG2144_BUILDING">BUILDING</label>
        <select id="CG2144_BUILDING" name="CG2144_BUILDING" class="form-control">
          <option value="1">BUILDING 1</option>
          <option value="2">BUILDING 2</option>
          <option value="3">BUILDING 3</option>
          <option value="4">BUILDING 4</option>
        </select>
      </div>-->
      <div class="form-group col-md-12">
        <label for="CG2144_PREMISES">PREMISES</label>
        <input id="CG2144_PREMISES" name="CG2144_PREMISES" type="text" placeholder="OF SIGN" class="form-control input-md">
      </div>
    </div>
  </div>
</div>
