<div class="tab-pane fade" id="tabh">
  <!-- Form Name -->
  <legend>CG2028</legend>


  <div class="col-md-6">
    <div class="row">
    
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group col-md-12">
      <label for="CG2028_ADDTL_INSURED">ADDTL_INSURED</label>
      <input id="CG2028_ADDTL_INSURED" name="CG2028_ADDTL_INSURED" type="text" placeholder="OF SIGN" class="form-control input-md">
    </div>
  </div>
</div>
