<!-- Form Name -->
<legend>CG2011</legend>

<div class="col-md-12">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CG2011_ADDTL_INSURED">DESIGNATION OF PREMISES (PART LEASED TO YOU)</label>
      <input id="CG2011_ADDTL_INSURED" name="CG2011_ADDTL_INSURED" type="text" placeholder="" class="form-control input-md" requiredd>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CG2011_PREMISES">NAME OF PERSON OR ORGANIZATION (ADDITIONAL INSURED)</label>
      <input id="CG2011_PREMISES" name="CG2011_PREMISES" placeholder="" class="form-control input-md" requiredd>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CG2011_ADDTL_PREMIUM">ADDITIONAL PREMIUM</label>
      <input id="CG2011_ADDTL_PREMIUM" name="CG2011_ADDTL_PREMIUM" class="form-control" placeholder="" type="text">
    </div>
  </div>
</div>
