<!-- Form Name -->
<legend>CG2018</legend>

<div class="col-md-6">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="CG2018_ADDTL_INSURED">NAME OF PERSON OR ORGANIZATION</label>
      <input id="CG2018_ADDTL_INSURED" name="CG2018_ADDTL_INSURED" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="CG2018_PREMISES">DESIGNATION OF PREMISES</label>
      <input id="CG2018_PREMISES" name="CG2018_PREMISES" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>
</div>
