<!-- Form Name -->
<legend>CG2144</legend>

<div class="col-md-12">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CG2144_PROJECT">PROJECT</label>
      <input id="CG2144_PROJECT" name="CG2144_PROJECT" type="text" class="form-control input-md">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CG2144_PREMISES">PREMISES</label>
      <input id="CG2144_PREMISES" name="CG2144_PREMISES" type="text" class="form-control input-md">
    </div>
  </div>
</div>
