<!-- Form Name -->
<legend>CP0440</legend>

<div class="col-md-6">
  <div class="row">
    <!-- Policy Number -->
    <div class="form-group col-md-12">
      <label for="POLICYNUMBER">POLICY NUMBER</label>
      <div class="input-group">
        <span class="input-group-addon">PPK000</span>
        <input type="text" class="form-control" name="POLICYNUMBER" id="POLICYNUMBER" placeholder="Policy Number" requiredd>
      </div>
    </div>
    <!-- CP0440 Location -->
    <div class="form-group col-md-12">
      <label for="CP0440_LOCATION">LOCATION</label>
      <select id="CP0440_LOCATION" name="CP0440_LOCATION" class="form-control">
        <option value="1">LOCATION 1</option>
        <option value="2">LOCATION 2</option>
        <option value="3">LOCATION 3</option>
        <option value="4">LOCATION 4</option>
      </select>
    </div>
    <!-- Ded -->
    <div class="form-group col-md-12">
      <label for="CP0440_DEDUCTIBLE">DEDUCTIBLE</label>
      <input id="CP0440_DEDUCTIBLE" name="CP0440_DEDUCTIBLE" placeholder="Deductible" class="form-control input-md">
    </div>
    <!-- Refigeration -->
    <div class="form-group col-md-12">
      <label for="CP0440_REFIGERATION">REFRIDGERATION</label>
      <div class="checkbox">
        <label for="CP0440_REFIGERATION-0">
          <input type="checkbox" name="CP0440_REFIGERATION" id="CP0440_REFIGERATION-0" value="Yes">
          AGREEMENT
        </label>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <!-- Limit -->
    <div class="form-group col-md-12">
      <label for="CP0440_LIMIT">LIMIT</label>
      <input id="CP0440_LIMIT" name="CP0440_LIMIT" placeholder="Limit" class="form-control input-md" requiredd>
    </div>
    <!-- CP0440 Building -->
    <div class="form-group col-md-12">
      <label for="CP0440_BUILDING">BUILDING</label>
      <select id="CP0440_BUILDING" name="CP0440_BUILDING" class="form-control">
        <option value="1">BUILDING 1</option>
        <option value="2">BUILDING 2</option>
        <option value="3">BUILDING 3</option>
        <option value="4">BUILDING 4</option>
      </select>
    </div>
    <!-- Description-->
    <div class="form-group col-md-12">
      <label for="CP0440_DESCRIPTION">DESCRIPTION</label>
      <input id="CP0440_DESCRIPTION" name="CP0440_DESCRIPTION" placeholder="Description" class="form-control input-md">
    </div>
    <!-- Cause of Loss -->
    <div class="form-group col-md-12">
      <label for="CP0440_CAUSE_OF_LOSS">CAUSE OF LOSS</label>
      <div class="checkbox">
        <label for="BREAKDOWNCONTAMINATION">
          <input type="checkbox" name="BREAKDOWNCONTAMINATION" id="BREAKDOWNCONTAMINATION" value="Yes">
          BREAKDOWN/CONTAMINATION
        </label>
      </div>
      <div class="checkbox">
        <label for="POWEROUTAGE">
          <input type="checkbox" name="POWEROUTAGE" id="POWEROUTAGE" value="Yes">
          POWER OUTAGE
        </label>
      </div>
      <div class="checkbox">
        <label for="SELLINGPRICE">
          <input type="checkbox" name="SELLINGPRICE" id="SELLINGPRICE" value="Yes">
          SELLING PRICE
        </label>
      </div>
    </div>
  </div>
</div>
