<!-- Form Name -->
<legend>CP1218</legend>

<div class="col-md-6">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="CP1218_LOCATION">LOCATION</label>
      <select id="CP1218_LOCATION" name="CP1218_LOCATION" class="form-control">
        <option value="1">LOCATION 1</option>
        <option value="2">LOCATION 2</option>
        <option value="3">LOCATION 3</option>
        <option value="4">LOCATION 4</option>
      </select>
    </div>
    <!-- Textarea -->
    <div class="form-group col-md-12">
      <label for="CP1218_LOSS_PAYEE">LOSS PAYEE</label>
      <textarea class="form-control" id="CP1218_LOSS_PAYEE" name="CP1218_LOSS_PAYEE" rows="10">NAME ADDRESS</textarea>
    </div>
  </div>
</div>


<div class="col-md-6">
  <div class="row">
    <div class="form-group col-md-12">
      <label for="CP1218_BUILDING">BUILDING</label>
      <select id="CP1218_BUILDING" name="CP1218_BUILDING" class="form-control">
        <option value="1">BUILDING 1</option>
        <option value="2">BUILDING 2</option>
        <option value="3">BUILDING 3</option>
        <option value="4">BUILDING 4</option>
      </select>
    </div>

    <!-- Provisions -->
    <div class="form-group col-md-12">
      <label for="CP1218_PROVISONS">PROVISIONS</label>
      <div class="checkbox">
        <label for="CP1218_LOSS_PAYABLE">
          <input type="checkbox" name="CP1218_LOSS_PAYABLE" id="CP1218_LOSS_PAYABLE" value="Yes">
          LOSS PAYABLE
        </label>
      </div>
      <div class="checkbox">
        <label for="CP1218_LENDERS_LOSS">
          <input type="checkbox" name="CP1218_LENDERS_LOSS" id="CP1218_LENDERS_LOSS" value="Yes">
          LENDER'S LOSS PAYABLE
        </label>
      </div>
      <div class="checkbox">
        <label for="CP1218_CONTRACT">
          <input type="checkbox" name="CP1218_CONTRACT" id="CP1218_CONTRACT" value="Yes">
          SELLING PRICE
        </label>
      </div>
    </div>

    <!-- Select Multiple -->
    <!-- <div class="form-group col-md-12"> -->
    <!-- <label for="CP1218_PROVISONS">PROVISIONS</label> -->
    <!-- <select id="CP1218_PROVISONS" name="CP1218_PROVISONS" class="form-control" multiple="multiple"> -->
    <!-- <option value="Yes">LOSS PAYABLE</option> -->
    <!-- <option value="Yes">LENDER'S LOSS PAYABLE</option> -->
    <!-- <option value="Yes">CONTRACT OF SALE</option> -->
    <!-- </select></div> -->
  </div>
</div>
