<!-- Form Name -->
<legend>CR3510</legend>

<!-- Insuring Agreements -->
<div class="col-md-12">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <label for="CR3510_CUSTODIANS">CAUSE OF LOSS</label>
      <div class="checkbox">
        <label for="CR3510_EXCLUDE_CUSTODIANS">
          <input type="checkbox" name="CR3510_EXCLUDE_CUSTODIANS" id="CR3510_EXCLUDE_CUSTODIANS" value="Yes">
          INSIDE THE PREMISES - ROBBERY OR SAFE BURGLARY OF OTHER PROPERTY
        </label>
      </div>
      <div class="checkbox">
        <label for="CR3510_INCLUDE_CUSTODIANS">
          <input type="checkbox" name="CR3510_INCLUDE_CUSTODIANS" id="CR3510_INCLUDE_CUSTODIANS" value="Yes">
          INSIDE THE PREMISES - ROBBERY OF A CUSTODIAN OR SAFE BURGLARY OF MONEY AND SECURITIES
        </label>
      </div>
    </div>
  </div>
</div>
