<!-- Form Name -->
<legend>IL0415</legend>

<div class="col-md-6">
  <div class="row">
    <!-- Location -->
    <div class="form-group col-md-12">
      <label for="IL0415_LOCATION">LOCATION</label>
      <select id="IL0415_LOCATION" name="IL0415_LOCATION" class="form-control">
        <option value="1">LOCATION 1</option>
        <option value="2">LOCATION 2</option>
        <option value="3">LOCATION 3</option>
        <option value="4">LOCATION 4</option>
      </select>
    </div>

    <!-- Symbol -->
    <div class="form-group col-md-12">
      <label for="IL0415_SYMBOL">SYMBOL</label>
      <select id="IL0415_SYMBOL" name="IL0415_SYMBOL" class="form-control" multiple="multiple">
        <option value="P-1">P-1</option>
        <option value="P-2">P-2</option>
        <option value="P-3">P-3</option>
        <option value="P-4">P-4</option>
        <option value="P-9">P-9</option>
      </select>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <!-- Building -->
    <div class="form-group col-md-12">
      <label for="IL0415_BUILDING">BUILDING</label>
      <select id="IL0415_BUILDING" name="IL0415_BUILDING" class="form-control">
        <option value="1">BUILDING 1</option>
        <option value="2">BUILDING 2</option>
        <option value="3">BUILDING 3</option>
        <option value="4">BUILDING 4</option>
      </select>
    </div>

    <!-- Description -->
    <div class="form-group col-md-12">
      <label for="IL0415_DESCRIPTION">DESCRIPTION</label>
      <textarea id="IL0415_DESCRIPTION" name="IL0415_DESCRIPTION" class="form-control input-md" rows="3">CENTRAL STATION ALARM AND UL300 ANSUL
      </textarea>
    </div>
  </div>
</div>
