<a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
  <i class="fa fa-bell"></i>
  <span class="badge badge-success pull-right"><%= @notifs.count != 0 ? @notifs.count : '' %></span>
</a>
<ul class="dropdown-menu title-caret dropdown-lg" role="menu">
  <% if @notifs.count == 0 -%>
    <li>
      <p class="drop-title">You have no unseen notificatons !</p>
    </li>
  <% else %>
    <li>
      <p class="drop-title">You have <%= @notifs.count %> unseen notifications !</p>
    </li>
    <li class="dropdown-menu-list slimscroll tasks">
        <ul class="list-unstyled">
          <% @notifs.each do |notif| %>
            <li>
              <%= link_to notif_seen_path(notif), method: :put do %>
                <div class="task-icon badge badge-success">
                  <i class="fa fa-archive"></i>
                </div>
                <!--<span style="font-size:10px;" class="badge badge-roundless badge-default pull-right"><%#= time_ago_in_words(notif.created_at) %></span>-->
                <p style="fontsize:10px; color:#6A6A6A" class="taskdetails"><%= translate_message(notif.message_type, notif.policy) %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>
