<ul class="dropdown-menu title-caret dropdown-lg" role="menu">
  <% if @notifs.count == 0 -%>
    <li>
      <p class="drop-title">You have no unseen notificatons !</p>
    </li>
  <% else %>
    <li>
      <p class="drop-title">You have <%= @notifs.count %> unseen notifications !</p>
    </li>
    <li class="dropdown-menu-list slimscroll tasks">
        <ul class="list-unstyled">
          <% @tasks.each do |task| %>
            <li>
              <%= link_to policy_path(Policy.find_by_number(task.name)) do %>
              <div class="task-icon badge badge-success">
                  <i class="fa fa-archive"></i>
                </div>
                <!--<span style="font-size:10px;" class="badge badge-roundless badge-default pull-right"><%#= time_ago_in_words(notif.created_at) %></span>-->
                <p style="fontsize:10px; color:#6A6A6A" class="taskdetails"><%= "#{notif.name} is now #{notif.status}" %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>
