<div id="rootwizard">
  <ul class="nav nav-tabs" role="tablist">
    <%- if @policy.property_forms.include?("CP0440(6/95)") %>
    <li role="presentation">
      <a href="#taba" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CP0440</a>
    </li>
    <% end -%>
    <!--
    <li role="presentation">
      <a href="#tabb" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CP1440</a>
    </li>
    <li role="presentation">
      <a href="#tabc" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CP1218</a>
    </li>
    -->
    <%- if @policy.property_forms.include?("IL0415(4/98)") %>
    <li role="presentation">
      <a href="#tabd" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>IL0415</a>
    </li>
    <% end -%>

    <%- if @policy.gl_forms.include?("CG2011(1/96)") %>
    <li role="presentation">
      <a href="#tabe" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CG2011</a>
    </li>
    <% end -%>

    <%- if @policy.gl_forms.include?("CG2018(11/85)") %>
    <li role="presentation">
      <a href="#tabf" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CG2018</a>
    </li>
    <% end -%>

    <%- if @policy.gl_forms.include?("CG2026(7/04)") %>
    <li role="presentation">
      <a href="#tabg" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CG2026</a>
    </li>
    <% end -%>

    <%- if @policy.gl_forms.include?("CG2028(7/04)") %>
    <li role="presentation">
      <a href="#tabh" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CG2028</a>
    </li>
    <% end -%>

    <%- if @policy.gl_forms.include?("CG2144(7/98)") %>
    <li role="presentation">
      <a href="#tabi" data-toggle="tab"><i class="fa fa-check m-r-xs"></i>CG2144</a>
    </li>
    <% end -%>

    <li role="presentation" class="active">
      <a href="#tabj" data-toggle="tab"><i class="fa fa-check-circle m-r-xs"></i>Generate</a>
    </li>

  </ul>
  
</div> <!-- Root Wizard -->
